*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ornament{
    background-color: burlywood;
    padding: 3rem;
}
 
.ornament path{
    fill:none;
    stroke:#0c63e4;
    stroke-width:3px;
}
 
  
 